*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
local.properties
Thumbs.db
.idea
.navigation
captures/
output.json
obj/
.externalNativeBuild

keystore.jks
debug.keystore
private_key.pepk
key.properties
keystore.jks.b64